[submodule "D2"]
	path = D2
	url = ./D2
[submodule "D1"]
	path = D1
	url = ./D1
[submodule "template"]
	path = template
	url = ./template
[submodule "D3"]
	path = D3
	url = ./D3
[submodule "d4"]
	path = d4
	url = ./d4
[submodule "D5"]
	path = D5
	url = ./D5
